{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>{% block title %}Item Exchange{% endblock %}</title>
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      {% block page_css %}
      {% endblock %}
      {% block extra_css %}
      {% endblock %}
   </head>
   <body>
      {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="alert {{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
      {% block content %}
      {% endblock %}
   </body>
</html>
