/* This file should be located in: static/css/landing.css */
body {
    margin: 0;
    padding: 0;
    background: url('../images/login-background.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    cursor: pointer; /* Optional: Makes it look clickable */
}